@font-face {
    font-family: horror;
    src: url(./Storm\ Gust.otf);
}

@font-face {
    font-family: Radhika;
    src: url(./Lucy\ Said\ Ok\ Personal\ Use.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(./Montserrat-Italic-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* h1{
    color: red;
    background-color: pink;
    font-size: 50px;
    font-family: Radhika;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
} */

/* div{
    height: 200px;
    width: 200px;
    background: linear-gradient(orange,white,green);
} */

div{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1529180184525-78f99adb8e98?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position: center;
}

h1{
    font-size: 60px;
    text-align: center;
    font-family: Radhika;
    font-weight: 100;
    color: white;
}