* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,
body {
height: 100%;
width: 100%;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px;
}

main{
    height: 70%;
    width: 25%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    position: relative;
}

button{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
}

.box{
    height: 10%;
    width: 15%;
    background-color: red;
    border-radius: 10px;
    position: absolute;
}

#top{
    color: white;
    display: flex;
    width: 25%;
    justify-content: space-between;
}

#overlay{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}